[submodule "vim/bundle/figitive"]
	path = vim/bundle/figitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/rails.vim"]
	path = vim/bundle/rails.vim
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/bundler.vim"]
	path = vim/bundle/bundler.vim
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/rbenv.vim"]
	path = vim/bundle/rbenv.vim
	url = https://github.com/tpope/vim-rbenv.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/surround.vim"]
	path = vim/bundle/surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/solarized.vim"]
	path = vim/bundle/solarized.vim
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/haml.vim"]
	path = vim/bundle/haml.vim
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/bundle/coffee.vim"]
	path = vim/bundle/coffee.vim
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/ruby.vim"]
	path = vim/bundle/ruby.vim
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/sleuth.vim"]
	path = vim/bundle/sleuth.vim
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/vroom"]
	path = vim/bundle/vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "vim/bundle/vim.snipmate"]
	path = vim/bundle/vim.snipmate
	url = https://github.com/ervandew/snipmate.vim.git
[submodule "vim/bundle/jade.vim"]
	path = vim/bundle/jade.vim
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/golang"]
	path = vim/bundle/golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim/bundle/handlebars"]
	path = vim/bundle/handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "vim/bundle/mustache.vim"]
	path = vim/bundle/mustache.vim
	url = https://github.com/mustache/vim-mode.git
[submodule "vim/bundle/vim-easy-align"]
	path = vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/tmuxline.vim"]
	path = vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/bundle/vim-cjsx"]
	path = vim/bundle/vim-cjsx
	url = https://github.com/mtscout6/vim-cjsx.git
[submodule "vim/bundle/webapi-vim"]
	path = vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/bundle/indentLine"]
	path = vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/bundle/js-syntax"]
	path = vim/bundle/js-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/yajs"]
	path = vim/bundle/yajs
	url = https://github.com/othree/yajs.vim.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/bundle/vim-elixir"]
	path = vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim.seeing"]
	path = vim/bundle/vim.seeing
	url = https://github.com/hwartig/vim-seeing-is-believing
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/bundle/vim-tsx"]
	path = vim/bundle/vim-tsx
	url = https://github.com/ianks/vim-tsx.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
